<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Hi there, it's Minh.">
    <meta name="author" content="Minh Phuong Tran">
    <meta property="og:url" content="https://minhphtran.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Minh's">
    <meta property="og:site_name" content="Minh's">
    <meta property="og:locale" content="nl_NL">
    <link rel="icon" href='{{ "/assets/favicon.svg" | relative_url }}' type="image/x-icon">
    <title>hi there, how are you?</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'
          rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/styles.css" | relative_url }}'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<noscript>
    <strong>I'm sorry but even this simple website does not work properly without JavaScript enabled. Please enable it
        to
        continue.</strong>
</noscript>
<!--  too small screen error -->
<div class="too_tight">
    <div>
        <p style="font-size: 2em">It's a little too</p>
        <p></p>
        <p style="
            letter-spacing: -0.1em;
            font-weight: 700;
            font-size: 60vw;
            margin-top: 20vw;
            margin-bottom: 30vw;
            margin-left: -10vw;
            margin-right: -3vw;
          ">
            tight
        </p>
        <p>
            please resize your browser a bit, or use a slightly bigger screen :)
        </p>
    </div>
</div>
<header id="header" class="header header__light">
    <div class="header_content link_effect small">
        <a class="header_nav" data-hover="about" href="/#about">about</a>
        <a class="header_nav" data-hover="experience" href="/#experience">experience</a>
        <a class="header_nav" data-hover="education" href="/#education">education</a>
        <a class="header_nav" data-hover="demo" href="/#demo">demo</a>
    </div>
    <div class="header_icons">
        <a class="item" href="">
            <img src='{{ "/assets/cv.svg" | relative_url }}' style="display:inline;height:1em;"/>
        </a>
        <a class="item" href="https://github.com/minhphtran">
            <img src='{{ "/assets/github.svg" | relative_url }}' style="display:inline;height:1em;"/>
        </a>
        <a class="item" href="https://www.linkedin.com/in/minh-phuong-tran-b71524131/">
            <img src='{{ "/assets/linkedin.svg" | relative_url }}' style="display:inline;height:1em;"/>
        </a>
    </div>
</header>
<main class="main_content">
{{ content }}

    <script type="text/javascript">
    var header = document.querySelector(".header");
    var delta = 20;
    var lastScroll = 0;
    window.addEventListener("scroll", function () {
        var currentScroll = window.pageYOffset;
        if (currentScroll <= 0) {
            header.classList.remove("header__hidden");
            header.classList.remove("header__scrolled");
            return;
        }
        if (currentScroll > 0 && header.classList.contains("header__light")) {
            header.classList.add("header__scrolled");
        }
        if (currentScroll > lastScroll + delta && !header.classList.contains("header__hidden")) {
            header.classList.add("header__hidden");
        } else if (currentScroll < lastScroll && header.classList.contains("header__hidden")) {
            header.classList.remove("header__hidden");
        }
        lastScroll = currentScroll;
    });
</script>
</main>
</body>
</html>