---
layout: base
---

<section class="demo_item" style="background: #fff">
    <div class="container_narrow">
        <div class="demo_details">
            <h2 style="margin-bottom: .2em"><span>{{ page.title | escape }}</span></h2>
            <h4 class="section_descr gray">
                {{ page.descr | escape }}
            </h4>

            <div class="demo_body">
                {{ content }}
            </div>

            <div class="nav_demo small">
                {% if page.previous != nil  %}
                <a class="nav_prev" href="{{page.previous.url}}">&laquo; {{ page.previous.name }}</a>
                {% endif %}
                {% if page.next != nil  %}
                <a class="nav_next" href="{{page.next.url}}">{{ page.next.name }} &raquo;</a>
                {% endif %}

<!--                {% if page.previous_in_category != nil  %}-->
<!--                <a class="nav_prev" href="{{page.previous_in_category.url}}">&laquo; {{ page.previous_in_category.name }}</a>-->
<!--                {% endif %}-->
<!--                {% if page.next_in_category != nil  %}-->
<!--                <a class="nav_next" href="{{page.next_in_category.url}}">{{ page.next_in_category.name }} &raquo;</a>-->
<!--                {% endif %}-->
            </div>
        </div>
    </div>

</section>