---
layout: base
---

<section class="demo_item">
    <div class="container_narrow">
        <div class="demo_details">
            <h2><span>{{ page.title | escape }}</span></h2>

            {%- if page.descr -%}
            <p class="section_descr">
                {{ page.descr | escape }}
            </p>
            {%- endif -%}

            <div class="demo_body">
                {{ content }}
            </div>

            <div class="nav_demo small">
                {% if page.previous_in_category != nil  %}
                <a class="nav_prev" href="{{page.previous_in_category.url}}">&laquo; {{ page.previous_in_category.name }}</a>
                {% endif %}
                {% if page.next_in_category != nil  %}
                <a class="nav_next" href="{{page.next_in_category.url}}">{{ page.next_in_category.name }} &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>

</section>